body {
    margin: 0;
    padding: 0;
    background-color:#FFBABA;
    background-image: url("images/rush_no_pixels.png");
    background-position: center calc(45px);
    background-repeat: no-repeat;
}

.navbar {
    background-color: #6E1717;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #FFBABA;
}