body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/rush_short.png");
    background-position: center calc(45px);
    background-repeat: no-repeat;
    filter: blur(2px) brightness(0.8);
    z-index: -1;
    pointer-events: none;
}

.navbar {
    background-color: #6E1717;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #FFBABA;
}

h1 {
    text-align: center;
    color: #F5F1E8;
    margin-top: 50px;
}
section p {
    text-align: center;
    color: #F5F1E8;
    font-size: 18px;
    margin-top: 20px;
}